@import "./fonts.scss";
@import "./weatherInfo.scss";

$footer-font: 'Beth Ellen', cursive;
$filter-icon: invert(99%) sepia(8%) saturate(2276%) hue-rotate(179deg) brightness(114%) contrast(100%);

* {
   box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	min-height: 100vh;
}

body {
	display: flex;
	flex-direction: column;
	padding: 5px;
	background-image: url(../assets/sunny-background.jpg);
	background-color: #000032;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	&.rain{
		background-image: url(../assets/rain-background.jpg);
		background-color: #082233;
	}
	&.sunny{
		background-image: url(../assets/sunny-background.jpg);
		background-color: #000030;
	}
	&.day{
		background-image: url(../assets/day-background.jpg);
		background-color: #2e112d;
	}
	&.night{
		background-image: url(../assets/night-background.jpg);
		background-color: #03002e;
	}
}

h1, h2, p {
	margin: 0;
}

header{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

footer {
	@include centerElements;
	gap: 10px;
	margin-bottom: 10px;
	width: 100vw;
	height: 40px;
	z-index: 1;
	color: rgb(236, 218, 175);
	font-family: $footer-font;
	a{
		height: 27px;
		img {
			filter: $filter-icon;
			width: 30px;
			transition: all 0.5s ease-in-out;
			&:hover {
				transform: rotate(360deg);
			}
		}
	}
}
